
  <div class="form-inputs user-sign-up-form">
    <%= f.input :name, required: true %>
    <%= f.input :location, required: true %>
    <%= f.input :profile_picture, input_html: { id: "profile-format" } %>
    <%= f.input :profile_picture_cache, as: :hidden %>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

