<div class="match-profile center-align grey lighten-5">
<%= content_tag :div, class: "match-profile__data hide", data: { user_id: user.id } do %> <% end %>


  <div class="background-image">
    <div class="match-card-image">

      <div class="col s12">
        <div class="user-show__picture-position collection-item avatar">
          <img class="user-show__profile-outline avatar-user circle responsive-img z-depth-2 "src= '<%= cl_image_path user.profile_picture %>'>
        </div>

        <div>
          <h4>
            <span class="user-show__name title-user white-text"><%= user.name %></span>
          </h4>
        </div>

        <div>
          <h4>
            <span class="user-show__name title-user white-text"><%= user.job_position %></span>
          </h4>
        </div>

        <div>
          <ul>
            <li>
              <p>
                <span class="user-show__location white-text"><%= user.location %></span>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end of picture and name -->
    <div class="user-goals-skills white">
      <h5 class="user-goals-skills_header  teal-text text-accent-2">Languages</h5>
      <div>




          <div>
            <% user.technology_summary[:languages].each do |language| %>
              <div class="chip">
               <%= language %>
                <i class="close material-icons"></i>
              </div>
            <% end %>
            </div>
          </div>


          <h5 class="user-goals-skills_header  teal-text text-accent-2">Methodologies</h5>

          <div>
            <% user.technology_summary[:methodologies].each do |methodologie| %>
              <div class="chip">
               <%= methodologie %>
                <i class="close material-icons"></i>
              </div>
            <% end %>
            </div>
          </div>

      </div>
    </div>
    <!-- end of the chips -->
    <div class="container user-show__container">
  <!-- Goals -->

      <div class="card">
        <div class="user-show__card-head">
          <i class="medium material-icons user-show__card-head-icon">gps_fixed</i>
          <h5 class="user-show__card-head-header">Goals</h5>
        </div>

        <div class="user-show__card-body">
          <img class="medium material-icons user-show__card-body-icon" src= '<%= image_path "network.svg" %>'>
          <h5 class="user-show__card-body-text">Network</h5>
        </div>

        <div class="user-show__card-body">
          <img class="medium material-icons user-show__card-body-icon" src= '<%= image_path "freelance.svg" %>'>
          <h5 class="user-show__card-body-text">Freelance, projects</h5>
        </div>

        <div class="user-show__card-body">
          <i class="small material-icons user-show__card-body-icon">build</i>
          <h5 class="user-show__card-body-text">Develop skills</h5>
        </div>
      </div>


  <!-- Education: -->

      <div class="card">

        <div class="user-show__card-head">
          <i class="medium material-icons user-show__card-head-icon">school</i>
          <h5 class="user-show__card-head-header">Education</h5>
        </div>

        <div class="user-show__card-list">
          <div class="user-show__card-body">
            <h5><%= user.education[0][:diploma] %></h5>
            <p><%= user.education[0][:school] %></p>
          </div>

        </div>
      </div>


    <!-- Experience: -->

      <div class="card">
        <div class="user-show__card-head">
          <i class="medium material-icons user-show__card-head-icon">laptop_chromebook</i>
          <h5 class="user-show__card-head-header">Experience</h6>
        </div>

        <ul class="user-show__card-list">
          <li class="user-show__card-body">
            <h5 class="">Fullstack Developer</h5>
          </li>

          <li class="user-show__card-body">
            <h5 class="">Junior back-end developer</h5>
          </li>

          <li class="user-show__card-body">
            <h5 class="">ninja</h5>
          </li>
        </ul>
      </div>


      <div class="divider teal accent-2"></div>


    </div>
  </div>
</div>




