<div class="match-profile background-image-wave-tw">

<%= content_tag :div, class: "match-profile__data hide", data: { user_id: user.id } do %>
<% end %>
  <div style="height: 30px;">
  </div>
  <div class="user-partial-profile center-align">
    <img class="user-show__profile-outline avatar-user circle responsive-img z-depth-2" src="<%= cl_image_path user.profile_picture %>">
    <div class="user-information-partial">
      <div>
        <h4>
          <span class="user-show__name"><%= user.name %></span>
        </h4>
      </div>

      <div>
        <span class="user-show__location title-user white-text"><%= user.job_position %></span>
      </div>
      <h6>
        <span class="user-show__name"><%= user.location %></span>
      </h6>
      <div class="divider divider-partial teal accent-2 center-align">
      </div>
    </div>
  </div>


  <!-- end of picture and name -->
  <div class="container container-index">

    <div class="user-goals-skills white">
      <h5 class="user-goals-skills_header center-align teal-text text-accent-2">Languages</h5>
      <div class="center-align">
        <% user.technology_summary[:languages].each do |language| %>
          <div class="chip">
           <%= language %>
           <i class="close material-icons"></i>
          </div>
        <% end %>
      </div>
    </div>


    <div class="user-goals-skills white">
      <h5 class="user-goals-skills_header center-align teal-text text-accent-2">Methodologies</h5>
      <div class="center-align">
        <% user.technology_summary[:methodologies].each do |methodologie| %>
          <div class="chip center-align">
           <%= methodologie %>
           <i class="close material-icons"></i>
          </div>
        <% end %>
      </div>
    </div>

 <!-- end of tech summary -->

    <div class="row" style="margin-top: 40px;">
      <div class="col s4">
        <div class="user-goals-icon-box  z-depth-2">
         <img class="responsive-img user-goals-icon" src= '<%= image_path "network.svg" %>'>
         <p class="user-goals-text">Networking</p>
        </div>
      </div>
      <div class="col s4">
        <div class="user-goals-icon-box  z-depth-2">
         <img class="responsive-img user-goals-icon" src= '<%= image_path "objectif.svg" %>'>
         <p class="user-goals-text">Career opportunity</p>
        </div>
      </div>

      <div class="col s4">
        <div class="user-goals-icon-box  z-depth-2">
         <img class="responsive-img user-goals-icon" src= '<%= image_path "freelance.svg" %>'>
         <p class="user-goals-text">Freelance</p>
       </div>
      </div>
    </div>
<!-- end of the icons  -->


    <div class="box-test z-depth-2" >
      <div class="collapsible-header" tabindex="0" style="
      outline: none;
        ">
        <h5 class="box-test-header">
          Education
        </h5>
      </div>
      <div class="box-test-content" style="display: block;">
        <h5><%= user.education[0][:diploma] %></h5>
        <p><%= user.education[0][:school] %></p>
        <h5><%= user.education[1][:diploma] %></h5>
        <p><%= user.education[1][:school] %></p>
      </div>
    </div>


    <div class="box-test z-depth-2" >
      <div class="collapsible-header" tabindex="0" style="
      outline: none;
      ">
        <h5 class="box-test-header">
          About <%= user.name %>
        </h5>
      </div>
      <div class="box-test-content" style="display: block;">
        <h5><%= user.experience[0][:position] %></h5>
      </div>
    </div>
  </div>
<!-- end of user description -->
</div>
  <div style="margin-bottom: 30px;">
  </div>


