<div class="match-profile center-align white">

  <%= content_tag :div, class: "match-profile__data hide", data: { user_id: user.id } do %>
  <% end %>

  <div class="card user-show__profile-card" style="background: url(<%= (cl_image_path @user.profile_picture).gsub('upload', 'upload/e_blur:800/e_art:incognito') %>) no-repeat center" >
    <div class="user-partial-profile">
      <div class="col s12">
        <div class="user-show__picture-position collection-item avatar">
          <img class="user-show__profile-outline avatar-user circle responsive-img z-depth-2 "src= '<%= cl_image_path user.profile_picture %>'>
        </div>

        <div>
          <h3>
          <span class="user-show__name title-user white-text"><%= user.name %></span>
          </h3>
        </div>

        <div>
          <ul>
            <li>
              <p>
              <span class="user-show__location white-text"><%= user.location %></span>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div>
<!--     <div class="divider teal accent-2" style="width: 80%; margin: auto;"></div>
 -->
   <div class="user-show__skills-goals">
    <h5 class="user-show__headings">Skills & interests</h5>
     <div>
       <ul>
         <li>
           <div class="chip">
             Rust
             <i class="close material-icons"></i>
           </div>
           <div class="chip">
             Python
             <i class="close material-icons"></i>
           </div>
           <div class="chip">
             NodeJS
             <i class="close material-icons"></i>
           </div>
         </li>
         <li>
           <div class="chip">
             Full stack
             <i class="close material-icons"></i>
           </div>
           <div class="chip">
             Front-end
             <i class="close material-icons"></i>
           </div>
           <div class="chip">
             Back-end
             <i class="close material-icons"></i>
           </div>
         </li>
       </ul>
     </div>
     <h5 class="user-show__headings">Goals</h5>
     <div class="row">
       <div class="col s4">
         <div>
           <img class="responsive-img user-show__goal-pics" src= '<%= image_path "network.svg" %>'>
           <p class="flow-text user-show__goal-text">Networking</p>
         </div>
       </div>

       <div class="col s4">
         <div>
           <img class="esponsive-img user-show__goal-pics" src= '<%= image_path "objectif.svg" %>'>
           <p class="flow-text user-show__goal-text">Career opportunity</p>
         </div>
       </div>

       <div class="col s4">
         <div>
           <img class="responsive-img user-show__goal-pics" src= '<%= image_path "freelance.svg" %>'>
           <p class="flow-text user-show__goal-text">Freelance</p>
         </div>
       </div>
     </div>

   </div>

    <div class="divider teal accent-2"></div>

    <div class="container background-user">
      <div class="section">
        <h5 class="user-show__headings">Experience</h5>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque maxime deserunt dolor saepe, aut qui, enim earum!
      </div>
      <div class="divider teal accent-2"></div>
      <div class="section">
        <h5 class="user-show__headings">Education</h5>
        Obcaecati deserunt dicta nulla quas expedita doloremque dolores ipsum placeat laborum perspiciatis? Voluptates!
      </div>

      <div class="divider teal accent-2"></div>

    </div>

    <div class="divider teal accent-2"></div>

    <div>
      <h5 class="user-show__headings">
        About me
      </h5>
      <p class="flow-text grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ipsam nulla molestiae, beatae assumenda labore, recusandae incidunt numquam. Beatae ipsam fuga iure est autem optio ipsum explicabo, natus incidunt inventore..</p>
    </div>
  </div>
</div>
