<%= render "shared/navbars/chat_inbox" %>

<div class="chat-inbox">

  <% @chat_rooms.each do |chat_room| %>

    <% other_user = chat_room.users.where.not(id: current_user.id).first %>
    <% last_message = chat_room.messages.last %>

    <%= link_to room_chat_path(chat_room) do %>
      <div class="chat-inbox__card">

        <picture class="chat-inbox__avatar">
          <img src="http://via.placeholder.com/50x50">
        </picture>

        <div class="chat-inbox__details">
          <div class="chat-inbox__details-top">
            <div class="chat-inbox__user-name"><%= other_user.name %></div>
            <div class="chat-inbox__message-datetime"><%= other_user.created_at %></div>
          </div>

          <div class="chat-inbox__message"><%= last_message.message %></div>
        </div>

      </div>
    <% end %>

  <% end %>

</div>
