<%= render "shared/navbars/signin-login" %>
<div class="login-area">
  <h2 class="h1">Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
    </div>

    <div class="form-actions login-box">
      <%= f.button :submit, "Log in", class: "login-button" %>
    </div>

    <div class="or">
      <p>or</p>
    </div>

      <div class="btn signing-up">
        <%= link_to new_user_registration_path, class: "color-signup" do %>
          <div> Sign Up </div>
        <% end %>
      </div>
    <% end %>
</div>




